.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 560px;
  min-height: 610px;
  background: #E5F6FE;
  text-align: center;
  margin: 5rem auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #4D428A;
  font-size: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .App {
    margin: 2.5rem 0rem 0rem 1.5em;
    width: 90%;
    height: 90vh;
  }

  h1 {
    margin: 20px 0;
    font-size: 24px;
  }
}

.todo-row:nth-child(4n + 1) {
  background: #A6D3F2;
  color: #000;
}

.todo-row:nth-child(4n + 2) {
  background: #ffdc76;
}

.todo-row:nth-child(4n + 3) {
  background: #ffadae;
}